body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    font-size: 1.9vw 2vw;
}

#logo{
    margin:10px;
    padding: 10px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 2px 2px 10px 5px rgb(126, 17, 17);
    width: 30%;
    border-radius: 45%;
    text-align: center;
}

header{
    padding: 50px;
    background-color: rgb(210, 20, 20);
    color: black;
    text-align: center;
    grid-area: header ;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul{
    display: flex;
}

#nav-ul > li{
    padding: 8px;
    margin: 16px;
}

.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px ;
    border: 1px solid white;
    border-radius: 15px;
}



#menu{
    padding: 32px;
    background-color: white;
    grid-area: menu;
}

nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column ;
}



#main-content{
    padding: 34px;
    grid-area: main ;
    background-color: black;
    color:white;
    display: grid;
    grid-template-areas:
    "empty chef music"
    "text chef-text music-text ";
    grid-template-columns: 1fr 1fr 1fr;
    
}

#other-section{
    padding: 40px;
    display: grid;
    grid-template-areas:
    "adventure workout fashion"
    "adventure-text workout-text fashion-text "
    ;
    grid-template-columns: 1fr 1fr 1fr;
}

footer{
    padding: 16px ;
    background-color: orange;
    color: white;
    text-align: center;
    grid-area: footer; 
}

#grid-container{
    display: grid;
    grid-template-areas:
    "header header"
    "menu main"
    " menu other-section"
    "footer footer"
    ;
    grid-template-columns: 1fr 9fr;
}

